<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/AdminLTE-2.4.10/dist/css/AdminLTE.min.css" />
    <include path="~/AdminLTE-2.4.10/dist/css/skins/_all-skins.css" />
    <include path="~/AdminLTE-2.4.10/bower_components/font-awesome/css/font-awesome.css" />
    <include path="~/Content/HelpDeskSite.css" />
  </styleBundle>
</bundles>
