@using HelpDesk.Web.MVC.Helpers
@model HelpDesk.Web.MVC.ViewModels.SearchFormViewModel

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            搜尋選項
        </h3>
        <div class="box-body">
            <div class="form-inline">

            </div>
        </div>
    </div>
</div>