@model MvcSiteMapProvider.Web.Html.Models.SiteMapTitleHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.CurrentNode != null)
{
    <h1>
        @Model.CurrentNode.Title

    </h1>
    <small>
        @Model.CurrentNode.Description
    </small>
    
}